* {
    /*border: 1px solid red !important;*/
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
@media only screen and (max-width: 500px) {
    p {
        display: none;
    }
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
/* FROM: http://stackoverflow.com/questions/16615403/css-how-to-draw-circle-with-text-in-middle */
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 4em;
    color: #F8981C;
    line-height: 100px;
    text-align: center;
    background: #ffffff
}
.header {
    text-align: right;
    font-weight: 300;
}
.h1-thunder {
    font-weight: 100;
    font-size: 4em;
    margin: 0px;
    color: #BCBBBB;
}
.h2-lightening {
    font-weight: 100;
    font-size: 1.25em;
    margin: 0px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.image-circle {
    border-radius: 50%;
}
.margin-t20 {
    margin-top: 20px;
}
.margin-t10 {
    margin-top: 10px;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
